<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="com.companyname.риз_310906у_перевощикова_ксения_tic_tac_toe">
    <uses-sdk android:minSdkVersion="21" android:targetSdkVersion="33" />
    <application android:label="РИЗ_310906у_Перевощикова_Ксения_Tic_Tac_Toe.Android" android:theme="@style/MainTheme"></application>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
</manifest>
